body{
    margin: 0px;
    padding: 0px;
    background-image: url('../img/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

#banner{
    background-color: rgb(63, 63, 63);
    height: 60px;
    box-shadow: 0px 0px 10px 3px rgb(0, 0, 0);
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    
}
@media only screen and (max-width: 1300px) {
    #banner{
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media only screen and (max-width: 400px) {
    #banner{
        padding-left: 5px;
        padding-right: 5px;
    }
}
#main{
    width: 100%;
    height: auto;
    min-height: 100vh;
    
}
#footer{
    margin-top: 100px;
    width: 100%;
    height: 100px;
    background-color: rgb(63, 63, 63);
    box-shadow: 0px 0px 10px 3px rgb(0, 0, 0);
}
#img-box{
    width: 223px;
    height: 100%;
}
#login-favorites-box{
    height: 100%;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: auto;
}
#login-box{
    height: 100%;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: auto;
}
#signup-button{
    border-radius: 7px;
    height: 35px;
    width: 85px;
    border: 0px;
    margin-left: 0px;
    background-color: rgb(27, 0, 102);
    color: white;
    font-size: 13px;
    cursor: pointer;
    font-family: arial;
    font-weight: 550;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 3px rgb(0, 0, 0);
    transition: all 0.5s ease;
}
#login-button{
    margin-right: 10px;
    margin-left: 0px;
    border-radius: 7px;
    height: 35px;
    width: 80px;
    border: 0px;
    color: white;
    font-size: 13px;
    cursor: pointer;
    font-family: arial;
    font-weight: 550;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}
#login-button:hover{
    background-color: rgb(104, 104, 104);
}

#signup-button:hover{
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    background-color: rgb(28, 0, 151);
}
#vertical-line{
    height: 30px;
    width: 10px;
    border-left: 1px solid rgb(83, 83, 83);
}
#subscription{
    border-radius: 7px;
    height: 35px;
    width: 90px;
    border: 0px;
    color: white;
    font-size: 13px;
    cursor: pointer;
    font-family: arial;
    font-weight: 550;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    transition: all 0.5s ease;
}
#subscription:hover{
    background-color: rgb(255, 0, 0);
}

#main-block{
    background: linear-gradient(to bottom, rgb(80, 80, 80), rgb(48, 48, 48));
    width: auto;
    min-height: 500px;
    max-width: 1112px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    box-shadow: 0px 0px 10px 1px rgb(0, 0, 0);
    border-radius: 10px;
    padding-bottom: 20px;
    
}
@media only screen and (max-width: 1180px) {
    #main-block{
        margin-left: 30px;
        margin-right: 30px;
    }
}
@media only screen and (max-width: 400px) {
    #main-block{
        margin-left: 5px;
        margin-right: 5px;
    }
    
}
#form{
    padding-top: 10px;
}


#search{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 40px;
    width: 100%;
    border: 0px;
    padding: 0px;
    background-color: rgb(39, 39, 39);
    color: white;
    font-size: 15px;
    font-family: arial;
    padding-left: 5px;
    transition: all 0.5s ease;
} 
#search-box:hover {
     box-shadow: 3px 3px 10px rgb(27, 27, 27);
     background-color: rgb(59, 59, 59);
     
}
#search:hover{
    background-color: rgb(59, 59, 59);
    
}
#search:focus{
     border: 0px;
     outline: none;
     
     
}
#search-box{
    border: 0px;
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
    font-family: arial;
    border-radius: 25px 25px;
    width: 70%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(39, 39, 39);
    color: white;
    box-shadow: 0px 0px 10px rgba(27, 27, 27, 0.4);
    transition: all 0.5s ease;
}
#select-box{
    margin-top: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.filters{
    border-radius: 10px;
    height: 40px;
    min-width: 130px;
    border: 0px;
    font-size: 15px;
    cursor: pointer;
    font-family: arial;
    font-weight: 550;
    padding-left: 5px;
    margin-right: 5px;
    margin-left: 5px;
    box-shadow: 0px 0px 10px rgba(27, 27, 27, 0.4);
    background-color: rgb(39, 39, 39);
    color: rgb(255, 255, 255);
    transition: all 0.5s ease;
}
.filters:hover{
    box-shadow: 3px 3px 10px rgb(27, 27, 27);
    background-color: rgb(65, 65, 65);
}
#middle-filter{
    margin-left: 50px;
    margin-right: 50px;
}
@media only screen and (max-width: 800px){
    #middle-filter{
        margin-left: auto;
        margin-right: auto;
        
    }
    .filters{
        min-width: 70px;
    }
}
#section-wrapper{
    margin-top: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
}

.label-style{
    color: white;
    font-family: arial;
    font-weight: 550;
    margin-top: 10px;
    display: inline-block;
}

.section{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    
}
.section::-webkit-scrollbar {
    display: flex; 
}

.section::-webkit-scrollbar-track {
    background-color: transparent;
}

.section::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
    
}

.book-box{
    width: 230px;
    margin: 10px;
    display: inline-block;
    position: relative;
}
.book{
    border-radius: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(27, 27, 27, 1);
    transition: all 0.5s ease;
}

.book:hover{
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
    
}

#submit-box{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
}

#submit-button{
    border-radius: 10px;
    height: 40px;
    width: 85px;
    border: 0px;
    font-size: 15px;
    cursor: pointer;
    font-family: arial;
    font-weight: 550;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgba(27, 27, 27, 0.4);
    background-color: rgb(27, 0, 102);
    color: rgb(255, 255, 255);
    transition: all 0.5s ease;
}
#submit-button:hover{
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    background-color: rgb(28, 0, 151);
}
.text-style{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: arial;
    font-weight: 550;
    text-align: center;
}
#login-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#main-login-box{
    background-color: rgb(63, 63, 63);
    width: 400px;
    min-width: 300px;
    min-height: 500px;
    max-width: 500px;
    box-shadow: 0px 0px 10px 1px rgb(0, 0, 0);
    border-radius: 10px;
    font-family: arial;
    color: white;
    padding-top: 10px;
}
@media only screen and (max-width: 500px){
 #main-login-box{
    width: auto;
 }
}
#login-box-banner{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-inputs{
    border-radius: 25px 25px;
    width: 250px;
    padding: 15px;
    border: 0px;
    background-color: rgb(39, 39, 39);
    color: white;
    font-size: 15px;
    font-family: arial;
    transition: all 0.5s ease;
}
.login-inputs:hover{
    box-shadow: 3px 3px 10px rgb(27, 27, 27);
    background-color: rgb(59, 59, 59);
}
.submit{
    text-align: center;
    border-radius: 25px 25px;
    height: 40px;
    width: 200px;
    border: 0px;
    margin-top: 15px;
    background-color: rgb(39, 39, 39);
    color: white;
    font-size: 15px;
    cursor: pointer;
    font-family: arial;
    font-weight: 550;
    transition: all 0.5s ease;
}
#login-form{
    text-align: center;
    margin-top: 30px;
    padding-bottom: 20px;
    
}
.submit:hover{
    box-shadow: 3px 3px 10px rgb(27, 27, 27);
    background-color: rgb(59, 59, 59);
}
.link{
    color: rgb(255, 255, 255);
}
.link:hover{
    color: rgb(136, 136, 136);
}
.error{
    color: red;
    font-size: 15px;
}
.book-box .heart-icon{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;

}
.heart-icon{
    cursor: pointer;
}
.heart-icon path{
    fill: none;
    stroke: rgb(28, 0, 151);
    transition: all 0.5s ease;
}
.heart-icon:hover path{
    stroke: rgb(230, 0, 0);
}
#favorites-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    cursor: pointer;
}
#subscription-box {
    position: fixed;
    width: 930px;
    height: 480px;
    background: linear-gradient(to bottom, #858585, #353535);
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    top: -100px; /* Początkowa pozycja nad ekranem */
    opacity: 0;
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    z-index: 100;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px rgb(0, 0, 0, 0.7);
    padding: 10px;
    
}
#subscription-box.show {
    top: 300px; /* Docelowa pozycja na ekranie */
    opacity: 1;
}
@media only screen and (max-width: 900px){
    #subscription-box{
        width: 90%;
        
    }    
    }

#subscription-title {
    width: 100%;
    height: 9%;
    text-align: center;
    margin: 0; /* Usuwanie domyślnych marginesów */
    color: white;
    font-family: arial;
    font-weight: 600;
    font-size: 30px;
    text-shadow: 0px 0px 5px black;
}

#subscriptions-container {
    
    display: flex;
    width: 100%;
    flex-grow: 1; /* Umożliwia rozciąganie na pozostałą wysokość */
    justify-content: space-between; /* Rozdziela elementy równo w poziomie */
}

.subscriptions {
    height: 359px;
    width: 288px;
    border-radius: 15px;
    margin: 5px;
    margin-top: 20px;
    color: white;
    font-family: arial;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    transition: all 0.5s ease;
    box-shadow: 0px 0px 5px 2px rgba(27, 27, 27, 0.5);
    display: flex;
}
.subscriptions:hover{
    box-shadow: 0px 0px 15px 3px rgba(27, 27, 27, 1);
    background-color: rgb(255, 255, 255);
}
.text{
    text-shadow: 0px 0px 5px black;
    margin-top: 20px;
}
.sub-button{
    border-radius: 10px;
    height: 40px;
    width: 85px;
    border: 0px;
    font-size: 15px;
    cursor: pointer;
    font-family: arial;
    font-weight: 550;
    margin-top: 45px;
    box-shadow: 0px 0px 10px rgba(27, 27, 27, 0.4);
    background-color: rgb(27, 0, 102);
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s ease;
    
}
.sub-button:hover{
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    background-color: rgb(28, 0, 151);
    width: 88px;
}
#sub-description{
    text-align: center;
    font-size: 15px;
    font-family: arial;
    color: rgb(219, 219, 219);
    margin-top: 15px;
    margin-bottom: 0px;
}
#cencle{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    cursor: pointer;
    background-color: rgb(70, 70, 70);
    width: 30px;
    height: 30px;
    border-radius: 25px;
}
#sub-x{
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%, -50%);
}
.sub-img{
    margin-top: 10px;
}
.buy-button{
    width: 100px;
}
#logoshort{
    display: none;
}
#logo{
    display: block;
}
@media only screen and (max-width: 650px){
    #logoshort{
        display: block;
        
    }    
    #logo{
        display: none;
    }
    }


@media only screen and (max-width: 400px) {

    #section-wrapper{
        width: 99%;
    }
    #subscription-title{
        font-size: 25px;
    }
    }
    @media only screen and (max-width: 1000px) {
        #subscriptions-container{
            overflow-x: scroll;
            overflow-y: hidden;
        }
        #subscription-box{
            width: 80%;
        }
        
    }
    #subscriptions-container::-webkit-scrollbar {
        display: flex; 
    }
    
    #subscriptions-container::-webkit-scrollbar-track {
        background-color: transparent;
    }
    
    #subscriptions-container::-webkit-scrollbar-thumb {
        background-color: #cecece;
        border-radius: 6px;
        
    }


    .info{
        text-align: center;
    }